@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    font-family: 'Fira Sans', sans-serif;
    color: white;
}

body{
    background: #1A1A1A;
}

.light {
    background: white !important;
}

.light .title, .light .subtitle, .light .text {
    color: #1A1A1A;
}

#go_up_button {
    display: none;
    position: fixed;
    background-color: #0bff91;
    bottom: 100px;
    right: 30px;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
}

#nav_golang {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-left: 200px;
    padding-right: 200px;
}

#logo_golang {
    height: 30px;
}

#hamburguer_menu {
    display: none;
}

hr {
    height: 1px;
    background-color: #676767 !important;
}

.itens_list {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.toggler-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 40px;
    height: 22px;
    background: gray;
    display: block;
    border-radius: 100px;
    position: relative;
    /* box-sizing: border-box; */
}

label:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 18px;
    height: 18px;
    border-radius: 90px;
    transition: 0.3s;
    /* background: red; */
    background: rgb(255, 255, 255);
}

input:checked+label {
    background: #2f2f2f;
    transition: 0.5s;
}

input:checked+label:after {
    transition: 0.5s;
    top: 2px;
    left: 2px;
    transform: translateX(100%);
    background-color: aliceblue;
}

.central_area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title_golang {
    font-family: 'Inter';
    font-weight: 800;
    font-size: 76px;
    text-align: center;
    background: linear-gradient(90.07deg, #0BFF91 40%, #14B9FF 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.subtitle_golang {
    color: rgba(235, 235, 235, .6);
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 42px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.buttons_area {
    display: flex;
}

.button_central_area {
    background-color: #42D392;
    border-radius: 8px;
    height: 38px;
    font-weight: 600;
    font-size: 18px;
    padding-left: 10px; 
    padding-right: 10px;
    padding-top: 15px; 
    padding-bottom: 15px;
    color: #213547;
    margin: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.light .button_central_area {
    color: white;
}

.button_grey {
    background-color: #2f2f2f;
    color: #aac8e4;
    font-weight: 400;
    padding-left: 15px;
    padding-right: 15px;
}

.light .button_grey {
    background-color: white;
    color: #2f2f2f;
    font-weight: 500;
}

.button_icons{
    padding: 5px;
    padding-top: 7px;
}

.fa-circle-play {
    font-size: 1.3rem;
    padding-right: 7px;
}

.fa-arrow-right {
    font-size: 0.8rem;
    padding-left: 7px;
}

.icon-theme-toggler {
    position: absolute;
    z-index: 1;
    padding: 7.5px;
    font-size: 11px;
}

.fa-moon {
    right: 0;
}

.fa-brands {
    cursor: pointer;
    font-size: 1.3rem;
    color: rgba(235, 235, 235, .8);
}

.light .fa-brands {
    color: rgba(51, 51, 51, 0.6);
}

.hello_world_area, .go_variables_area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 50px;
}

.companies_title {
    display: flex;
    font-size: 50px;
    justify-content: center;
}

.variables_text {
    font-size: 22px;
    font-weight: 200;
}

.area {
    padding-left: 250px;
    padding-right: 250px;
    margin-top: 80px;
    margin-bottom: 80px;
}

#go_hello_world, #go_variables {
    width: 428px;
}   

.media_container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 180px;
    max-width: 180px;
    min-height: 95px;
    max-height: 95px;
    background-color: white;
    border-radius: 8px;
}

.social_media{
    width: 80px;
    height: 80px;
}

.companies_list {
    display: flex;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
}

@media (max-width: 1000px) {
    #nav_golang {
        padding-left: 20px;
        padding-right: 20px;
    }
    .hello_world_area, #go_vars_area {
        flex-direction: column;
        gap: 40px;
    }
}

@media (max-width: 600px) {
    .itens_list {
        display: none;
    }

    #hamburguer_menu {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 23px;
    }

    .title_golang{
        font-size: 45px;
    }
}

@media (max-width: 600px) {
    .area {
        padding-left: 20px;
        padding-right: 20px;
    }

    .subtitle_golang, .variables_text, .title{
        text-align: center;
    }

    .buttons_area {
        flex-direction: column;
    }

    #go_hello_world, #go_variables {
        width: 300px;
    }

}

@media (max-width: 330px) {
    #go_hello_world, #go_variables {
        width: 230px;
    }

    .title_golang{
        font-size: 30px;
    }

    .subtitle_golang {
        font-size: 18px;
    }
}